#menu {
	background: #210E16;
	color: #FFF;
	height: 37px;
	padding-left: 18px;
	border-radius: 17px;
	border: 5px ridge #106D17;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 27px;
	padding: 0 14px;
	text-decoration: none;
	color: #9CFA89;
	font-size: 18px;
	text-transform: uppercase;
}
#menu a.dropdown-arrow:after {
	content: "\25BF";
	margin-left: 5px;
}
#menu li a:hover {
	color: #CC8385;
	background: #ECF24B;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 37px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 27px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #2E2A44;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #86FF36;
	font-size: 18px;
	text-transform: lowercase;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #EC38F2;
	color: #164244;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}

.contenedor1 {
    height: 250px;
}

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.piñatas {
	position: fixed;
	left: 0;
	top: 200px;
	z-index: 2000;
}

.piñatas ul {
	list-style: none;
}

.piñatas ul li a {
	display: inline-block;
	color:#FFF;
	background: #000;
	padding: 10px 15px;
	text-decoration: none;
	-webkit-transition: all 500ms ;
	-o-transition: all 500ms;
	transition: all 500ms;
}

.piñatas ul li .icon-facebook2 {background:#3b5998;}
.piñatas ul li .icon-whatsapp {background:#106D17;}
.piñatas ul li .icon-mail {background:#666666;}

.piñatas ul li a:hover {
padding: 10px 30px;
background: #000;

}